* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #9A1663;
  text-align: center;
  font-family: Marvel;
}

.container {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}
.container #btn-test:hover {
  -webkit-transition: 1s;
  transition: 1s;
  -webkit-box-shadow: 10px 10px 0 #efbb2a;
          box-shadow: 10px 10px 0 #efbb2a;
}
.container #displayQA2 {
  font-size: larger;
}
.container .togglepart {
  text-align: center;
  height: 400px;
  background-color: white;
  border-radius: 30px;
  margin-left: 10%;
  -webkit-box-shadow: 5px 10px #E0144C;
          box-shadow: 5px 10px #E0144C;
  padding: 5%;
}
.container .togglepart #thequizz {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 40px;
  margin: 2%;
}
.container .togglepart #thequizz .question {
  font-size: 35px;
}
.container .togglepart #thequizz .question .justquestions {
  justify-items: right;
}
.container .togglepart #thequizz .question .justquestions .ques {
  width: 20px;
  height: 20px;
}
.container .togglepart #result progress {
  width: 50%;
  height: 60px;
}
.container .togglepart #result .answer {
  border-color: black;
  margin-left: 10%;
  border-radius: 20px;
  background-color: #ff7096;
  width: 80%;
  font-size: 24px;
}
.container form {
  font-size: 40px;
  text-transform: uppercase;
  font-weight: 500;
  color: #FF5858;
}
.container form input {
  background-color: #FF97C1;
  width: 300px;
  height: 30px;
  border-radius: 10px;
  margin-top: 30px;
  font-family: Marvel;
}
.container button {
  background-color: #FF5858;
  border-radius: 20px;
  font-size: larger;
  font-weight: 700;
  padding: 10px;
  margin-top: 30px;
  color: #E0144C;
  font-family: Marvel;
}
.container div:hover {
  -webkit-transition: 1s;
  transition: 1s;
  -webkit-box-shadow: 10px 10px 10px #fb6938;
          box-shadow: 10px 10px 10px #fb6938;
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  list-style: none;
}
nav ul li a {
  margin-top: 25px;
  text-decoration: none;
  color: #FF97C1;
  font-size: 50px;
  font-weight: 200;
}
nav ul button {
  border-radius: 20px;
  -webkit-box-shadow: 20px;
          box-shadow: 20px;
  width: 20%;
  border-color: #FF5858;
  background-color: #FF5858;
  color: #FF5858;
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
  margin-top: 15px;
}

.blink_me {
  -webkit-animation: blinker 3s linear infinite;
          animation: blinker 3s linear infinite;
}

@-webkit-keyframes blinker {
  50% {
    opacity: 0;
  }
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}
@media (max-width: 600px) {
  nav {
    font-size: medium;
    margin-right: 20px;
  }
  nav ul li a {
    margin-top: 20px;
  }
}
@media (max-width: 599px) {
  body {
    text-align: center;
    overflow: auto;
    background-color: #FF5858;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
  }
  body .container {
    text-align: center;
  }
  body .container #divform {
    color: black;
  }
  body .container #svgdis {
    margin-left: 30px;
    height: 220px;
  }
  body .container ol {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
    margin-top: 15px;
    font-size: small;
    font-weight: 400;
  }
  body .container ol .spacediv1 {
    margin-top: 30px;
    text-align: center;
    width: 40px;
    color: black;
  }
  body .container ol .spacediv2 {
    margin-top: 30px;
    width: 40px;
    color: black;
  }
  body .container div {
    height: auto;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
  body .container div #title {
    font-size: 40px;
    color: #E0144C;
  }
  body nav {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    margin-left: 25px;
    text-align: center;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  body nav ul {
    width: 80%;
    display: block;
  }
  body nav ul #btn-test {
    width: 200px;
    height: 50px;
  }
}
@media (max-width: 600px) {
  body {
    background-color: #FF5858;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
  }
  body nav ul {
    display: block;
    font-size: smaller;
  }
  body nav ul button {
    border-radius: 60px;
    width: 600px;
    height: 100px;
    -webkit-box-shadow: #FF5858;
            box-shadow: #FF5858;
    border-width: 2px;
    border-color: #E0144C;
    margin: 30px;
  }
}
.step-compo {
  margin: 0%;
  padding: 0%;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  list-style: none;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 40px;
}
.step-compo div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.step-compo div div {
  background-color: white;
  height: 2px;
  width: 30rem;
  -webkit-box-flex: 4;
      -ms-flex-positive: 4;
          flex-grow: 4;
}
.step-compo .title-compo {
  background-color: aliceblue;
  border-radius: 50%;
  --size: 3rem;
  width: var(--size);
  height: var(--size);
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
  text-align: center;
}
.step-compo item-compo {
  --size: 3rem;
  content: "*";
  position: relative;
  z-index: 1;
  display: block;
  border-radius: 50%;
  margin: 1rem auto 0;
  background-color: antiquewhite;
}

.spacediv2 {
  background-color: aliceblue;
}